

<div class="container-title">
    <mat-card appearance="outlined">
      <mat-card-content> <h1 class="container-title-words"> {{ caballin }} Caballo</h1></mat-card-content>
    </mat-card>
  </div>

<app-spinner *ngIf="loading"></app-spinner>

    <mat-card class="card">

        
<mat-card-subtitle>
    <h1 class="title-words"> Datos del caballo </h1>
 </mat-card-subtitle>
 
        <form [formGroup]="form" (ngSubmit)="agregarEditarCaballo()">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Nombre" formControlName="nombre" required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <input type="number" matInput placeholder="Edad" formControlName="edad" required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Raza" formControlName="raza" required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Color" formControlName="color" required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <input type="number" matInput placeholder="Peso" formControlName="peso" required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2">
                    <button [disabled]="form.invalid" type="submit" class="btnaceptar" mat-raised-button>Finalizar</button>
                    <button mat-raised-button routerLink="/ListadoDeCaballos">Volver</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
